html {
    background-color: #eee;
    height: 100%;
}

body {
    padding: 0;
    background-color: transparent;
    color: #414141;
    font-family: sans-serif;
}

header {
    background-color: rgb(57, 159, 199);
    width: 100%;
    text-align: center;
}

header #title {
    color: white;
    font-family: monospace;
    font-weight: normal;
    text-shadow: 2px 2px #414141;
    height: 40px;
    font-size: 2.0em;
}

header nav {
    background-color: rgb(206, 204, 204);
    box-shadow: 0 4px 2px -2px gray;
}

header nav ul {
    list-style: none;
    display: inline;
    padding: 0;
}

header nav ul li {
    display: inline;
}

header nav ul li:not(:last-child):after {
    padding: 0 10px;
    content: ' |';
}

header a {
    color: #414141;
    text-decoration: none;
    font-family: sans-serif;
}

.exampleTitle {
    font-weight: bold;
}

#wrapper {
    padding: 5px;
}

#welcome {
    text-align: center;
}

#welcomeText {
    text-align: justify;
}

#about {
    text-align: center;
    margin: 0 auto;
    max-width: 400px;
}

#about img {
    border-radius: 70px;
    box-shadow: 2px 2px 2px;
}

#rich {
    padding-top: 5px;
}

#ted {
    margin-top: 10px;
}

#about .aboutText {
    text-align: justify;
}

#games {
    text-align: center;
    margin: 0 auto;
    max-width: 400px;
}

#games img {
    border-radius: 70px;
    box-shadow: 2px 2px 2px;
}

#breakout img {
    height: 100px;
    width: 100px;
}

#zelda img {
    height: 100px;
    width: 100px;
}