html {
    background-color: #eee;
    height: 100%;
    min-width: 320px;
}

body {
    padding: 0;
    background-color: transparent;
    color: #414141;
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    text-align: center;
}

header #title {
    background-color: rgb(57, 159, 199);
    color: white;
    font-weight: normal;
    font-size: 2em;
    padding: 2px 0;
}

header nav {
    background-color: #cecece;
}

header nav ul {
    list-style: none;
    display: inline;
    padding: 0;
}

header nav ul li {
    display: inline;
}

header nav ul li:not(:last-child):after {
    padding: 0 10px;
    content: ' -';
}

header a {
    color: #414141;
    text-decoration: none;
}

.exampleTitle {
    font-weight: bold;
}

#wrapper {
    padding: 5px 20px;
    text-align: center;
    margin: 0 auto;
}

#wrapper h3 {
    margin-top: 5px;
}

#about img {
    border-radius: 70px;
}

#rich {
    padding-top: 5px;
}

#ted {
    margin-top: 10px;
}

#about .aboutText {
    text-align: justify;
}

#games {
    text-align: left;
}

#games .game {
    padding-bottom: 5px;
    padding-top: 15px;
}

#games .game:not(:last-of-type) {
    border-bottom: 1px solid #C7C7C7;
}

@media (max-width: 420px) {
    header nav ul li {
        display: block;
        font-size: 1.3em;
        padding: 2px 0;
    }
    header nav ul li:not(:last-child) {
        border-bottom: 1px solid #B2B2B2;
    }
    header nav ul li:not(:last-child):after {
        padding: 0;
        content: none;
    }
}