<div id="about">
	<div id="rich">
		<img src="/images/rich.jpg">
		<div class="aboutText">Rich McLaughlin is a web developer for <a href="http://www.vertafore.com/" target="_blank">Vertafore</a> and lives in Michigan.</div>
	</div>
	<div id="ted">
		<img src="/images/ted.jpg">
		<div class="aboutText">Ted VanToll is a developer advocate for <a href="http://www.telerik.com/" target="_blank">Telerik</a> and lives in Michigan. He's also a member of the <a href="http://jqueryui.com/" target="_blank">jQueryUI</a> team.</div>
	</div>

	<div></div>
</div>
