<h3>Games</h3>

<div id="games">
    <div class="game">
        <a href="/asteroids">Asteroids</a><br>
        HTML5 Canvas<br>
        <p>
            A recreation of the Atari classic arcade game Asteroids. Fly a spaceship and shoot asteroids before
            they destroy your ship!
        </p>
        <p>
            Controls:<br>
            <span class="glyphicon glyphicon-arrow-left"></span> <span class="glyphicon glyphicon-arrow-right"></span> Turn Ship<br>
            <span class="glyphicon glyphicon-arrow-up"></span> Thruster<br>
            [ Space ] Shoot<br>
        </p>
    </div>
    <div class="game">
        <a href="/breakout">Breakout</a><br>
        HTML5 Canvas<br>
        <p>
            A recreation of the Atari classic arcade game Breakout. A type of single-player tennis. Use your
            paddle to bounce the ball at the bricks to destroy them! Works on mobile devices.
        </p>
        <p>
            Controls:<br>
            <span class="glyphicon glyphicon-arrow-left"></span> <span class="glyphicon glyphicon-arrow-right"></span> Move Paddle<br>
            [ Space ] Serve<br>
        </p>
    </div>
    <div class="game">
        <a href="/zelda-canvas">Legend of Zelda</a><br>
        HTML5 Canvas<br>
        <p>
            The classic action RPG game from the Nintendo Entertainment System. Take Link through an array of dungeons and fight monsters to collect all the pieces of the Triforce and save Princess Zelda. Works on mobile devices. Supports Nintendo USB gamepad.
        </p>
        <p>
            Controls:<br>
            <span class="glyphicon glyphicon-arrow-up"></span> <span class="glyphicon glyphicon-arrow-down"></span> <span class="glyphicon glyphicon-arrow-left"></span> <span class="glyphicon glyphicon-arrow-right"></span> Move Link<br>
            [ C ] B-Button Item<br>
            [ Space ] A-Button Item<br>
            [ Enter ] Menu<br>
        </p>
    </div>
    <div class="game">
        <a href="/unity/roll-a-ball/">Roll a Ball</a><br>
        Unity Engine<br>
        <p>
            A simple demo of the Unity Engine running in the web browser, requires the Unity Web Player plugin and NPAPI support.
        </p>
        <p>
            Controls:<br>
            <span class="glyphicon glyphicon-arrow-up"></span> <span class="glyphicon glyphicon-arrow-down"></span> <span class="glyphicon glyphicon-arrow-left"></span> <span class="glyphicon glyphicon-arrow-right"></span> Move Ball<br>
        </p>
    </div>
</div>
