<h4 id="welcome">Welcome to our Web Playground!</h4>

<div id="welcomeText">
	We like buiding stuff for the web.  Sometimes, we just want to share code or a random thought with the world.  Other times, we just want a place to put some code for testing. That's all this site is.
	<br/><br/>
	In fact, this site itself is just an experiment in whatever type of design or implementation we feel like trying.
	<br/><br/>
	If you love coding, hopefully you'll find something useful or entertaining. Feel free to use any code or ideas you find helpful! 
<div>