<h3>Presentations</h3>

<div id="presentations">
    <div class="presentation">
        <a href="/presentations/ionic/" target="_blank">Ionic & AngularJS</a><br>
        <p>
            Ionic is a framework for building cross-platform mobile apps with web technologies. Buzzwords aside, if you are comfortable with web development, especially AngularJS, you can get started with Ionic very quickly. We'll take a look at how to start and test apps natively and instantly using Ionic View.
        </p>
    </div>
</div>