<h3>Writing</h3>

<div id="articles">
    <div class="article">
        <a href="https://www.airpair.com/javascript/posts/the-legend-of-canvas" target="_blank">The Legend of Canvas</a><br>
        Topic: HTML5 Canvas<br>
        <p>
            A look into the process for recreating the Legend of Zelda in HTML5 Canvas & JavaScript.<br>
            AirPair 2015 Writing Competition <a href="https://www.airpair.com/100k-writing-competition" target="_blank"><i>Best Front-End Post</i></a>
        </p>
    </div>
    <div class="article">
        <a href="https://www.airpair.com/javascript/posts/getting-started-with-chrome-devtools" target="_blank">Getting Started with Chrome DevTools</a><br>
        Topic: Chrome DevTools<br>
        <p>
            New to web development or looking to get started? Learning Chrome DevTools will help cut down on time spent building and debugging web sites. This walkthrough covers tips and tricks for beginners and includes a live sample site with videos and source code.
        </p>
    </div>
</div>