/*body {*/
    /*background: #2F5437;*/
/*}*/

/*.reveal a {*/
    /*color: #FFFC00;*/
/*}*/
/*.reveal h2 {*/
    /*text-shadow: 1px 1px 1px #000, 3px 3px 5px #FFFC00;*/
/*}*/

#spinning-triforce {
    height: 30px;
    margin: 0;
    background: none;
    border: none;
    box-shadow: none;
}