@font-face {
    font-family: nfl;
    src: url("http://i.nflcdn.com/static/site/7.1/img/fonts/endzone-sans/medium-cond.woff");
}

html {
    width: 100%;
    font-family: nfl;
}

body {
    margin: 0;
}

.score {
    text-align: center;
    position: absolute;
}

.game {
}

.home {
    width: 35%;
    display: inline-block;
    color: white;
    padding: 10px;
}

.away {
    width: 35%;
    display: inline-block;
    float: right;
    color: white;
    padding: 10px;
}

.team-name {
    padding: 10px;
}