@font-face {
    font-family: nfl;
    src: url("http://i.nflcdn.com/static/site/7.1/img/fonts/endzone-sans/medium-cond.woff");
}

html {
    width: 100%;
}

body {
    margin: 0;
    font-family: nfl !important;
    font-size: 4vmin !important;
}

.score {
    display: inline-block;
}

.game:not(:last-child) {
    border-bottom: 1px solid #414141;
}

.home {
    width: 100px;
    display: inline-block;
    color: white;
    padding: 10px;
    text-align: right;
}

.away {
    width: 100px;
    display: inline-block;
    color: white;
    padding: 10px;
}

.team-name {
    padding: 10px;
}