html {
	width: 256px;
}
body {
	margin: 0;
}
.ui-loader {
    display: none; /* how to remove the need for this? jquery mobile does this crap*/
}
#about {
    display: none;
    position: absolute;
    height: 166px;
    width: 256px;
    background: rgba(255,255,255,0.9);
    top: 56px;
    z-index: 200;
    font-family: monospace;
    text-shadow: 1px 1px #D0D0D0;
    text-align: center;
    padding-top: 10px;
}
#hud {
	background-color: black;
	height: 56px;
	width: 256px;
}
#minimap {
	background-color: #616161;
	position: absolute;
	height: 32px;
	width: 64px;
	left: 16px;
	top: 16px;
}
#beacon {
	background-color: #71D200;
	position: absolute;
	height: 4px;
	width: 4px;
	left: 44px;
	top: 44px;
}
#rupees {
	color: white;
	font-size: 10px;
	font-family: monospace;
	position: absolute;
	top: 14px;
	left: 86px;
}
#keys {
	color: white;
	font-size: 10px;
	font-family: monospace;
	position: absolute;
	top: 28px;
	left: 86px;
}
#bombs {
	color: white;
	font-size: 10px;
	font-family: monospace;
	position: absolute;
	top: 36px;
	left: 86px;
}
#b-label {
	color: white;
	font-size: 10px;
	font-family: monospace;
	position: absolute;
	top: 14px;
	left: 128px;
	background-color: black;
	z-index: 100;
}
#b-box {
	border: 1pt solid blue;
	position: absolute;
	top: 20px;
	left: 122px;
	width: 16px;
	height: 24px;
	border-radius: 2px;	
}
#b-box-item img {
    position: absolute;
    top: 30px;
    left: 129px;
}
#a-label {
	color: white;
	font-size: 10px;
	font-family: monospace;
	position: absolute;
	top: 14px;
	left: 152px;
	background-color: black;
	z-index: 100;
}
#a-box {
	border: 1pt solid blue;
	position: absolute;
	top: 20px;
	left: 146px;
	width: 16px;
	height: 24px;
	border-radius: 2px;
}
#a-box-item img {
    position: absolute;
    top: 26px;
    left: 152px;
}
#life-header {
	color: red;
	font-family: monospace;
	font-size: 12px;
	position: absolute;
	top: 12px;
	left: 186px;
	font-style: normal;
}
#hearts-bottom {
	color: red;
	font-family: monospace;
	font-size: 14px;
	position: absolute;
	top: 35px;
	left: 175px;
}
#viewport {
	height: 176px;
	width: 256px;
	background: url("../images/overworld_map.png");
	background-repeat: no-repeat;
	background-position-x: -1792px; /* 256px x-axis change */
	background-position-y: -1232px;	/* 176px y-axis change */
	/* 16 columns @ 256px = 16px per col */
	/* 11 rows @ 176px = 16px per row */
}
.sprite {
	height: 16px;
	width: 16px;
}
#boomerang {
    background: url("../images/boomerang.png") no-repeat;
    position: absolute;
    top: 152px;
    left: 112px;
    margin-left: 5px;
    margin-top: 2px;
    height: 8px;
    width: 5px;
    -webkit-transition: margin-top .2s linear, margin-left .2s linear, -webkit-transform .2s linear;
}
#boomerang.up {
    margin-top: -48px;
}
#boomerang.down {
    margin-top: 48px;
}
#boomerang.left {
    margin-left: -48px;
}
#boomerang.right {
    margin-left: 48px;
}
#boomerang.throw {
    -webkit-transform: rotate(720deg);
}
.hidden {
    display: none;
}
#link {
	position: absolute;
	top: 152px;
	left: 112px;
    z-index: 100;
}
#link.up {
	background: url("../images/link_up.gif") no-repeat;	
	margin-left: 2px;
}
#link.up.sword {
	background: url("../images/sword_up.png") no-repeat;	
	margin-left: 2px;
	height: 28px;
	margin-top: -12px;
}
#link.down {
	background: url("../images/link_down.gif") no-repeat;	
}
#link.down.sword {
	background: url("../images/sword_down.png") no-repeat;
	height: 27px;
}
#link.left {
	background: url("../images/link_left.gif") no-repeat;	
}
#link.left.sword {
	background: url("../images/sword_left.png") no-repeat;	
	margin-left: -11px;
	width: 27px;
}
#link.right {
	background: url("../images/link_right.gif") no-repeat;	
}
#link.right.sword {
	background: url("../images/sword_right.png") no-repeat;
	width: 27px;
}
#controller {
	padding: 10px;
	background-color: #333333;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#up {
	height: 30px;
	width: 30px;
	background-color: black;
	margin-left: 30px;
	border-left: 2px solid white;
	border-top: 2px solid white;
	border-right: 2px solid white;
	/*border-radius: 2px 2px 0 0px;*/
}
#left-right {
	height: 30px;
	width: 94px;
	background-color: black;
}
#left {
	height: 30px;
	width: 30px;
	background-color: black;
	display: inline-block;
	border-left: 2px solid white;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	/*border-radius: 2px 0 0 2px;*/
}
#right {
	height: 30px;
	width: 30px;
	background-color: black;
	display: inline-block;
	margin-left: 30px;
	border-right: 2px solid white;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	/*border-radius: 0px 2px 2px 0px;*/
}
#down {
	height: 30px;
	width: 30px;
	background-color: black;
	margin-left: 30px;
	border-left: 2px solid white;
	border-bottom: 2px solid white;
	border-right: 2px solid white;
	/*border-radius: 2px;*/
}
.gray-pattern {
    background-color: #666666;
    position: absolute;
    width: 40px;
    height: 16px;
    left: 111px;
    border-radius: 10px;
}
.gray-pattern-1 {
    top: 237px;
}
.gray-pattern-2 {
    top: 262px;
}
.gray-pattern-3 {
    top: 287px;
}

#start-background {
    background-color: white;
    position: absolute;
    width: 36px;
    height: 24px;
    top: 310px;
    left: 108px;
    border-radius: 2px;
    border: 5px solid black;
}
#start-button {
    background-color: black;
    position: absolute;
    width: 24px;
    height: 11px;
    top: 321px;
    left: 119px;
    border-radius: 10px;
}
#start-label {
    color: #CD3333;
    position: absolute;
    top: 289px;
    left: 116px;
    font-size: 10px;
    font-weight: bold;
    font-family: monospace;
}
#b-button {
	position: absolute;
	top: 272px;
	left: 160px;
	background-color: #CD3333;
	color: white;
	width: 30px;
	height: 30px;
	text-align: center;
	border-radius: 20px;
	text-shadow: 2px 1px #414141;
}
#b-button-background {
	background-color: white;
	position: absolute;
	width: 36px;
	height: 36px;
	top: 270px;
	left: 157px;
	border-radius: 2px;
}
#b-button-label {
	position: absolute;
	top: 309px;
	left: 184px;
	color: #CD3333;
	width: 30px;
	height: 30px;
	font-family: sans-serif;
}
#a-button {
	position: absolute;
	top: 272px;
	left: 205px;
	background-color: #CD3333;
	color: white;
	width: 30px;
	height: 30px;
	text-align: center;
	border-radius: 20px;
	text-shadow: 2px 1px #414141;
}
#a-button-background {
	background-color: white;
	position: absolute;
	width: 36px;
	height: 36px;
	top: 270px;
	left: 202px;
	border-radius: 2px;
}
#a-button-label {
	position: absolute;
	top: 309px;
	left: 226px;
	color: #CD3333;
	width: 30px;
	font-family: sans-serif;
}