html {
	width: 256px;
}
body {
	margin: 0;
}
#debug {
    display: none;
}
.ui-loader {
    display: none; /* how to remove the need for this? jquery mobile does this crap*/
}
#about {
    display: none;
    position: absolute;
    height: 166px;
    width: 256px;
    background: rgba(255,255,255,0.9);
    top: 56px;
    z-index: 200;
    font-family: monospace;
    text-shadow: 1px 1px #D0D0D0;
    text-align: center;
    padding-top: 10px;
}
#hud {
	background-color: black;
	height: 56px;
	width: 256px;
}
#level {
    position: absolute;
    top: 8px;
    left: 15px;
}
#minimap {
	background-color: #616161;
	position: absolute;
	height: 32px;
	width: 64px;
	left: 16px;
	top: 16px;
}
#beacon {
	background-color: #71D200;
	position: absolute;
	height: 4px;
	width: 4px;
	left: 44px;
	top: 44px;
}
#hud-icons {
    height: 36px;
    width: 17px;
    position: absolute;
    top: 12px;
    left: 86px;
    overflow: hidden;
}
#hud-icons img {
    height: 36px;
    position: relative;
}
#rupees {
	color: white;
	font-size: 8px;
	position: absolute;
	top: 16px;
	left: 96px;
    font-family: 'Press Start 2P', cursive;
    z-index: 101;
}
#keys {
	color: white;
	font-size: 8px;
	position: absolute;
	top: 31px;
	left: 96px;
    font-family: 'Press Start 2P', cursive;
}
#bombs {
	color: white;
	font-size: 8px;
	position: absolute;
	top: 40px;
	left: 96px;
    font-family: 'Press Start 2P', cursive;
}
#b-a-boxes img {
    position: absolute;
    height: 32px;
    top: 15px;
    left: 118px;
}
#b-box-item img {
    position: absolute;
    top: 28px;
    left: 129px;
}
#a-box-item img {
    position: absolute;
    top: 24px;
    left: 152px;
}
#life-header {
    position: absolute;
    top: 9px;
    left: 173px;
}
#life-header img {
    height: 20px;
}
#hearts-bottom {
	position: absolute;
	top: 35px;
	left: 175px;
}
#hearts-bottom img:not(:nth-child(1)) {
    margin-left: -1px;
}
#item-menu {
    position: absolute;
    height: 176px;
    width: 256px;
    background: black;
    display: none;
    z-index: 200;
}
#inventory-background {
    height: 145px;
    top: 21px;
    position: relative;
    left: 16px;
}
#viewport {
	height: 176px;
	width: 256px;
	background: url("../images/overworld_map.png");
	background-repeat: no-repeat;
	background-position-x: -1792px; /* 256px x-axis change */
	background-position-y: -1232px;	/* 176px y-axis change */
	/* 16 columns @ 256px = 16px per col */
	/* 11 rows @ 176px = 16px per row */
}
#viewport.cave {
	background: url("../images/cave_map.png");
}
#viewport.dungeon {
	background: url("../images/dungeons_map.png");
}
.cave-text{
    position: absolute;
    top: 95px;
    left: 32px;
    width: 191px;
    text-align: center;
}
.text {
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 8px;
}
.sprite {
	height: 16px;
	width: 16px;
}
#boomerang {
    background: url("../images/boomerang.png") no-repeat;
    position: absolute;
    top: 152px;
    left: 112px;
    margin-left: 5px;
    margin-top: 2px;
    height: 8px;
    width: 5px;
    -webkit-transition: margin-top .2s linear, margin-left .2s linear, -webkit-transform .2s linear;
}
#boomerang.up {
    margin-top: -48px;
}
#boomerang.down {
    margin-top: 48px;
}
#boomerang.left {
    margin-left: -48px;
}
#boomerang.right {
    margin-left: 48px;
}
#boomerang.throw {
    -webkit-transform: rotate(720deg);
}
.hidden {
    display: none;
}
.invisible {
    visibility: hidden;
}
#link {
	position: absolute;
	top: 152px;
	left: 112px;
    z-index: 100;
}
#link.up {
	background: url("../images/link_up.gif") no-repeat;	
	margin-left: 2px;
}
#link.up.sword {
	background: url("../images/sword_up.png") no-repeat;	
	margin-left: 2px;
	height: 28px;
	margin-top: -12px;
}
#link.down {
	background: url("../images/link_down.gif") no-repeat;	
}
#link.down.sword {
	background: url("../images/sword_down.png") no-repeat;
	height: 27px;
}
#link.left {
	background: url("../images/link_left.gif") no-repeat;	
}
#link.left.sword {
	background: url("../images/sword_left.png") no-repeat;	
	margin-left: -11px;
	width: 27px;
}
#link.right {
	background: url("../images/link_right.gif") no-repeat;	
}
#link.right.sword {
	background: url("../images/sword_right.png") no-repeat;
	width: 27px;
}
#controller {
	padding: 10px;
	background-color: #333333;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#controller-center {
    border-radius: 60px;
    position: absolute;
    border: 1px solid #747474;
    height: 16px;
    width: 16px;
    left: 48px;
    top: 281px;
}
#up {
	height: 30px;
	width: 30px;
	margin-left: 30px;
	border-left: 2px solid white;
	border-top: 2px solid white;
	border-right: 2px solid white;
    background: url("../images/controller_arrow.png") no-repeat;
    background-size: 30px 30px;

}
#left-right {
	height: 30px;
	width: 95px;
	background-color: black;
    padding-bottom: 1px;
}
#left {
	height: 30px;
	width: 30px;
	display: inline-block;
    margin-left: -1px;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-right: 2px solid white;
    background: url("../images/controller_arrow.png") no-repeat;
    background-size: 30px 30px;
    -webkit-transform: rotate(270deg);
}
#right {
	height: 30px;
	width: 30px;
	background-color: black;
	display: inline-block;
	margin-left: 28px;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-right: 2px solid white;
    background: url("../images/controller_arrow.png") no-repeat;
    background-size: 30px 30px;
    -webkit-transform: rotate(90deg);
}
#down {
	height: 30px;
	width: 30px;
	background-color: black;
	margin-left: 30px;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-right: 2px solid white;
    background: url("../images/controller_arrow.png") no-repeat;
    background-size: 30px 30px;
    -webkit-transform: rotate(180deg);
}
.gray-pattern {
    background-color: #666666;
    position: absolute;
    width: 40px;
    height: 16px;
    left: 111px;
    border-radius: 10px;
}
.gray-pattern-1 {
    top: 237px;
}
.gray-pattern-2 {
    top: 262px;
}
.gray-pattern-3 {
    top: 287px;
}

#start-background {
    background-color: white;
    position: absolute;
    width: 36px;
    height: 24px;
    top: 310px;
    left: 108px;
    border-radius: 2px;
    border: 5px solid black;
}
#start-button {
    background-color: black;
    position: absolute;
    width: 24px;
    height: 11px;
    top: 321px;
    left: 119px;
    border-radius: 10px;
}
#start-label {
    color: #CD3333;
    position: absolute;
    top: 289px;
    left: 116px;
    font-size: 10px;
    font-weight: bold;
    font-family: monospace;
}
#b-button {
	position: absolute;
	top: 272px;
	left: 170px;
	background-color: #CD3333;
	color: white;
	width: 30px;
	height: 30px;
	text-align: center;
	border-radius: 20px;
	text-shadow: 2px 1px #414141;
}
#b-button-background {
	background-color: white;
	position: absolute;
	width: 36px;
	height: 36px;
	top: 270px;
	left: 167px;
	border-radius: 2px;
}
#b-button-label {
	position: absolute;
	top: 309px;
	left: 194px;
	color: #CD3333;
	width: 30px;
	height: 30px;
	font-family: sans-serif;
}
#a-button {
	position: absolute;
	top: 272px;
	left: 215px;
	background-color: #CD3333;
	color: white;
	width: 30px;
	height: 30px;
	text-align: center;
	border-radius: 20px;
	text-shadow: 2px 1px #414141;
}
#a-button-background {
	background-color: white;
	position: absolute;
	width: 36px;
	height: 36px;
	top: 270px;
	left: 212px;
	border-radius: 2px;
}
#a-button-label {
	position: absolute;
	top: 309px;
	left: 236px;
	color: #CD3333;
	width: 30px;
	font-family: sans-serif;
}
.red-octorok {
    position: absolute;
}
.red-octorok.up {
    background: url("../images/red_octorok/up.gif") no-repeat;
}
.red-octorok.down {
    background: url("../images/red_octorok/down.gif") no-repeat;
}
.red-octorok.left {
    background: url("../images/red_octorok/left.gif") no-repeat;
}
.red-octorok.right {
    background: url("../images/red_octorok/right.gif") no-repeat;
}
.blue-octorok {
    position: absolute;
}
.blue-octorok.up {
    background: url("../images/blue_octorok/up.gif") no-repeat;
}
.blue-octorok.down {
    background: url("../images/blue_octorok/down.gif") no-repeat;
}
.blue-octorok.left {
    background: url("../images/blue_octorok/left.gif") no-repeat;
}
.blue-octorok.right {
    background: url("../images/blue_octorok/right.gif") no-repeat;
}